body{
    background-color: wheat;
    font-family: Georgia;
    text-align: center;
}

p{
    color: brown;
    text-align: center;
    line-height: 30px;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
    color: black;
}

h4{
    text-align: center;
}
a {
    color: rgb(0, 128, 0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: #000000;
}
.underline {
    text-decoration: underline;
}